@charset "utf-8";
/* CSS Document */

.flex-container1 {
	display: flex;
	background-image: url("assets/images/background.jpg");
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
    max-height: 100vh;
}


.homeName {
	color: white;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 45px;
}

.flex-container2 {
	display: flex;
	background-color:#ED862D;
	align-content: center;
	justify-content: center;
	height: 100vh;
    max-height: 100vh;
}

.paragraph{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20%;
	margin-bottom: 10%;
	color: white;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px;
}

.flex-container3{
	display: flex;
	background-color: #EDBC2C;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-around;
	align-items:center;
	height: 100vh;
    max-height: 100vh;
}

.flex-container4{
	display: flex;
	background-color:#C5F16F;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-around;
	align-items:center;
	height: 100vh;
    max-height: 100vh;
}

.flex-container5{
	display: flex;
	background-color:#95F6F6;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-around;
	align-items:center;
	height: 100vh;
    max-height: 100vh;
}

.flex-container6{
	display: flex;
	background-color:#614747;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-around;
	align-items:center;
	height: 500%;
	width:100%;
}




